:not(.input-group)>.form-floating>.form-control {
  border: none;
  border-radius: 0;
  border-bottom: calc(var(--bs-border-width) * 2) solid var(--bs-border-color);
  transition: border-radius 0;
}

:not(.input-group)>.form-floating>.form-control:focus {
  border-radius: var(--bs-border-radius);
}

.nav-link.active {
  view-transition-name: sidebartab;
}

.nav-fill>.nav-link {
  text-align: start;
}

#sidebar {
  font-weight: 500;
  height: 100dvh;
}

[dir="rtl"] .bi-arrow-left-short::before {
  content: "\f135";
}

fieldset {
  border: var(--bs-border-width) var(--bs-border-color) groove;
  border-radius: var(--bs-border-radius);
  padding: 0.5em 1em 0.7em;
}

legend {
  float: unset;
  width: fit-content;
  margin: 0;
}
