:not(.input-group)>.form-floating>.form-control {
  border: none;
  border-radius: 0;
  border-bottom: calc(var(--bs-border-width) * 2) solid var(--bs-border-color);
  transition: border-radius 0;
}

:not(.input-group)>.form-floating>.form-control:focus {
  border-radius: var(--bs-border-radius);
}

.nav-link.active {
  view-transition-name: sidebartab;
}

.nav-fill>.nav-link {
  text-align: start;
}

#sidebar {
  font-weight: 500;
  height: 100dvh;
}
