.git
.env
.phpunit.cache
.phpunit.result.cache
.vscode
Dockerfile
docker-compose.yml
node_modules
vendor

writable/cache/*
!writable/cache/index.html
writable/debugbar/*
!writable/debugbar/.gitkeep
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*

*.log
Thumbs.db
.DS_Store
