CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

database.default.hostname = academity-mysql
database.default.database = academitydb
database.default.username = academity_user
database.default.password = academity_password
database.default.DBDriver = MySQLi
database.default.port = 3306

encryption.key = 9f9c7efb7d7b4c329d9e7158c41c8079
